@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-philosopher: "Philosopher", sans-serif;
    --font-lato: "Lato", sans-serif;
    --font-segoe-ui: "Segoe UI", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    --color-primary: #BF9B30;
    --color-primary-2: #0C1E45;
    --color-primary-3: #FFFFFF;

    --color-secondary: #FAF9F8;
    --color-secondary-2: #0A0A0A;

    --color-triary: #7C7C7C;
    --color-triary-2: #D9D9D9;
    --color-triary-4: #F3F0ED;
}
:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}